RewriteEngine On

php_flag magic_quotes_gpc Off

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
AddType application/x-httpd-php .html

php_value session.auto_start 0