@font-face
{
    font-family: PT-Sans;
    src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

@font-face
{
    font-family: PT-Sans;
    font-weight: bold;
    src: url(../_fonts/PT_Sans-Web-Bold.ttf);
}

/*body
{
    background-color: #303030;
}
*/

/*#content_area
{
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    margin-left: auto;
    margin-top: 15px;
    margin-right: auto;
    padding: 15px;
    width: 750px;
}*/

hr
{
    border-color: #131313;
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 130px;
}

#content_area
{
    /*margin-right: 50px;*/
    margin-left: 50px;
    margin-top: 15px;

}

#main_header
{
    /*color: #FAFAFA;*/
    font-family: PT-Sans, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#contact_info
{
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);

    padding: 5px;

}

.contact-block
{
    margin-top: 10px;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: 4px;
}

.contact-block > h3
{
    font-family: PT-Sans, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

.contact-block > p
{
    /*color: #FAFAFA;*/
    font-family: PT-Sans, Arial, sans-serif;
    margin: 0;
}
