@font-face
{
    font-family: PT-Sans;
    src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

@font-face
{
    font-family: PT-Sans;
    font-weight: bold;
    src: url(../_fonts/PT_Sans-Web-Bold.ttf);
}

body
{
    background-color: #303030;
}

hr
{
    border-color: #131313;
    border-radius: 50px;
}

#main_header
{
    color: #FAFAFA;
    font-family: PT-Sans, Arial, sans-serif;
    font-weight: bold;
}

.contact-block
{
    margin-top: 10px;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: 4px;
}

.contact-block > h3
{
    color: #FAFAFA;
    font-family: PT-Sans, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

.contact-block > p
{
    color: #FAFAFA;
    font-family: PT-Sans, Arial, sans-serif;
    margin: 0;
}