body {
	background-color: #FFFFFF  !important;
}

.hunterBackground {
	background-color: #E74C3C;
}

.marshalBackground {
	background-color: #59ABE3;
}
.defaultBackground {
	background-color: #F5D76E;
}

.whiteBackground {
	background-color: #adad85;
}