body {
	background-color: #FFFFFF  !important;
}

.hunterBackground {
	background-color: #E74C3C;
}

.marshalBackground {
	background-color: #59ABE3;
}
.defaultBackground {
	background-color: #F5D76E;
}

.whiteBackground {
	background-color: #adad85;
}

.innerRow {
	padding: 0px !important;
}

.mainRow {
  padding-top: 20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.tableWrapper {
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  overflow-y: scroll;
/*  YOU NEED TO SET THE HEIGHT*/
}

.rowTable {
  height: 45px;
  background: #f6f6f6;
  width: 100%;
}

.rowTable:nth-of-type(odd) {
  background: #e9e9e9;
}

.rowTable.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}

.rowTable.green {
  background: #27ae60;
}

.rowTable.blue {
  background: #2980b9;
}

.cell {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.messageButton, .detailsButton {
     background:none!important;
     border:none;
     padding:0!important;
     cursor: pointer;
}

.form-group {
  margin-bottom: 0px !important;
}

#profile_picture
{
    border-color: #5b5b5b;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#imagePicture {

  border-color: #5b5b5b;
  border-width: 2px;
  border-style: solid;
  width: 220px;
  height: 200px;
  margin: 0 auto;
  display: block;

}

#rssBox {
  margin: 0 auto;
  padding: 0 0 0 0;
}
