body {
	background-color: #FFFFFF  !important;
}

.hunterBackground {
	background-color: #E74C3C;
}

.marshalBackground {
	background-color: #59ABE3;
}
.defaultBackground {
	background-color: #F5D76E;
}

.whiteBackground {
	background-color: #adad85;
}

.innerRow {
	padding: 0px !important;
}

.mainRow {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.tableWrapper {
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  overflow-y: scroll;
/*  YOU NEED TO SET THE HEIGHT*/
}

.modal-footer {
	height: 70px !important;
}

.messageButton, .detailsButton {
     background:none!important;
     border:none;
     padding:0!important;
     cursor: pointer;
}