#closeButton {
  margin-top: 5px;
  margin-right:5px;
  width: 23px;
}

#bountyBoard {
  margin-top: 10px;
  height: 350px;
  margin-bottom: 40px;
}

.bountyWall {
  margin-top: 5px;
  background-image: url("/../_images/_random/wanted_240x308.png");
  background-size: 255px 308px;
  background-repeat: no-repeat;
  background-position: center; 
  height: 350px;
}

.bountyName {
  text-align: center;
}

.img-circle {
/*  height: 140px;
  width: 140px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 140px;
}

table {
  width: 100%;
}

.tableWrapper {
  max-height: 225px;
}

.rowTable {
  height: 45px;
  background: #f6f6f6;
  width: 100%;
}

.rowTable:nth-of-type(odd) {
  background: #e9e9e9;
}

.rowTable.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}

.rowTable.green {
  background: #27ae60;
}

.rowTable.blue {
  background: #2980b9;
}

.cell {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

#rss {
  margin-left: 10px;
  font-size:10px; 
  text-align:center; 
  width:370px;
}

#noBountiesMessage {
  margin-top: 20px;
  text-align: center;
}

