@font-face {
  font-family: PT-Sans;
  src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

body
{
    margin: auto;
}

#navBar 
{
  background-color: #0f0f0f;
  box-shadow: 0 2px 8px 0;
  height: 25px;
  margin: 0;
  padding: 5px;
}

#navBar * 
{
  display: inline;
  text-decoration: none;
}

#navbarLogo
{
  height: 100%;
}

li.leftNav
{
  color: #FAFAFA;
  font-family: PT-Sans, Arial, sans-serif;
  font-size: large;
  padding: 2px;
  position: relative;
  bottom: 3px;
  margin: 5px;
}

li.leftNav:hover
{
  background-color: #5b5b5b;
  height: 22px;
}

li.leftNav > a
{
  color: #FAFAFA;
}

.loginForm
{
    height: 22px;
    padding: 2px;
    float: left;
}

#loginContainer
{
  float: right;
  padding-right: 2px;
}

#login
{
  float: left;
}

#logout 
{
    float: right;
}

#submitLogin
{
    background-color: #ffa500;
    border-radius: 3px;
    border-style: none;
    box-shadow: 0 2px 8px 0 black;
    color: #FAFAFA;
    font-family: Helvetica;
    font-size: medium;
    height: 24px;
    width: 75px;
    margin-left: 3px;
}

#submitLogout
{
    background-color: #ffa500;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 2px 8px 0 black;
    color: #FAFAFA;
    font-family: Helvetica;
    font-size: medium;
    height: 24px;
    width: 75px;
}