@font-face {
  font-family: PT-Sans;
  src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

.navbar-custom {
	background-color: #303030;
}

#navbarLogo
{
  padding: 0;
  height: 20px;
}

#navBarDropDown {
  padding: 3px;
}

#submitLogin {
	background-color: #ffa500;
	color: #FAFAFA;
	border-radius: 10px;
}

