@font-face
{
    font-family: PT-Sans;
    src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

body
{
    margin: auto;
}

.vert-align-helper
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo
{
    vertical-align: middle;
}

#content_area
{
    background-color: #303030;
    height: 600px;
    text-align:center;
    z-index: -2;
}

#features
{
    margin-top: 50px;
    display: inline-block;
}

.feature-icon
{
    height: 75px;
}

.feature-text
{
    color: #FAFAFA;
    font-family: sans-serif;
    text-align: left;
    text-indent: 3px;
    vertical-align: middle;
}