@font-face
{
    font-family: PT-Sans;
    src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

/*body {
  background-color: blue;
}
*/
.section1A {
  float: left;
  width: 66%;
  height: 300px;
  background-color: #303030;
}

.section2A {
  float: left;
  width: 33%;
  height: 300px;
  margin: 0 auto;
  background-color: #303030;
}

.section1B {
  float: left;
  width: 33%;
  height: 300px;
  background-color: #303050;
}

.section2B {
  float: left;
  width: 33%;
  height: 300px;
  background-color: #303060;
}

.section3B {
  float: left;
  width: 33%;
  height: 300px;
  background-color: #303070;
}

.featureIcon
{
    height: 75px;
}

.featureText
{
    color: #FAFAFA;
    font-family: sans-serif;
    text-align: left;
    text-indent: 3px;
    vertical-align: middle;
}

#signUpHeader {
  color: white;
  font-family: sans-serif;
}

#signUp {
  margin: 0 auto;
  color: white;
}

.signUpForm {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  display: block;
  margin: 7px;
}

#submitSignUp {
  background-color: #ffa500;
  font-family: Helvetica;
  font-size: medium;
  color: #FAFAFA;
}