@font-face
{
    font-family: PT-Sans;
    src: url(../_fonts/PT_Sans-Web-Regular.ttf);
}

.row {
  padding-bottom: 20px;
  height: 400px;
}

/*body {
  background-color: #BCBCBC !important;
}*/

.featureIcon
{
    height: 75px;
}

.featureText
{
  padding-left: 10px;
}

/*#signUpHeader {
  color: white;
  font-family: sans-serif;
}*/

/*#signUp {
  margin: 0 auto;
  color: white;
}*/

.signUpForm {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  display: block;
  margin: 7px;
}

#submitSignUp {
  background-color: #ffa500;
  font-family: Helvetica;
  font-size: medium;
  color: #FAFAFA;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

h1 { 
  padding-top: 100px !important;
}


/* CUSTOMIZE THE CAROUSEL - not singed in
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* Bounty Wall
-------------------------------------------------- */

  #bountyBoard {
  height: 400px;
}

.bountyWall {
  background-image: url("/../_images/_random/wanted_240x308.png");
  background-size: 255px 308px;
  background-repeat: no-repeat;
  background-position: center; 
  height: 300px;
}

.bountyName {
  text-align: center;
}

.img-circle {
/*  height: 140px;
  width: 140px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 140px;
}

.rowBenefit {
  height: 400px;
}

.imageBenefit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
}

.
