.box {
/*	height: 400px;*/
}

table, thead, tbody {
   border: 1px solid black;
}

td, th {
	text-align: center;
	height:40px;
}

.pastRow:hover { 
	background: #FAFAFA; 
}

td a { 
  display: block; 
  padding-right: 8px;
  padding-left: 8px; 
  padding-top: 2px;
  padding-bottom: 2px;

  color: #adad85;
	text-decoration: none;
}

  #bountyBoard {
  margin-top: 10px;
  height: 200px;
  margin-bottom: 40px;
}

.bountyWall {
  margin-top: 5px;
  background-image: url("/../_images/_random/wanted_240x308.png");
  background-size: 166px 200px;
  background-repeat: no-repeat;
  background-position: center; 
  height: 200px;
}

.bountyName {
  text-align: center;
}

.img-circle {
/*  height: 140px;
  width: 140px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  height: 94px;
  width: 94px;
}

#discoverButton {
	margin-left: auto;
	margin-right: auto;
}