body
{
  background-color:  #303030;
}

#section1 {
  padding-top: 40px;
}

#section1A {
  float: left;
  width: 33%;

}

#section1B {
  float: left;
  width: 33%;
}

#section1C {
  float: left;
  width: 33%;
}

.box {
  margin-top: 20px;
  margin: 0 auto;
  width: 60%;
  height: 200px;
  border-style: solid;
  border-width: 4px;
  border-color: #FFA500;
  color: #FAFAFA;
}

#trackTable {
  width: 100%;
  padding-top: 40px;
}

td > a {
  display: block;
  color: #FAFAFA;
  margin: 0 auto;
}
tr {
  margin: 0 auto;
}

#discoverButton {
  width: 100%;
}