table {
  width: 100%;
}

.tableRow:nth-child(even) {
  background-color: #B0B0B0;
}

.tableRow:nth-child(odd) {
  background-color: ##FAFAFA;
}

table, th, td {
  border-collapse: collapse;
}

.headerTable {
  background-color: #FC8989;
}