/*table, thead, tbody {
   border: 1px solid black;
}*/

/*td, th {
	text-align: center;
	height:40px;
}*/

.pastRow:hover {
	background: #FAFAFA;
}

  #bountyBoard {
  margin-top: 10px;
  height: 200px;
  margin-bottom: 20px;
}

.bountyWall {
  margin-top: 5px;
  background-image: url("/../_images/_random/wanted_240x308.png");
  background-size: 166px 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.bountyName {
  margin: 0 auto;
  text-align: center;
}

.img-circle {
  padding-top:11px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  height: 100px;
  width: 100px;
}

#discoverButton
{
	margin-left: auto;
	margin-right: auto;
  	padding: 10px;
}

.bottomBox {
  height: 33%;
}

.bottomBoxS {
  height: 34%;
}

table {
  width: 100%;
}

.tableWrapper {
  max-height: 225px;
}
