h3 {
  display:inline;
}

textarea {
  display: block;
  width: 100%;
}

.row {
  padding-top: 20px;
}


.addOnCustom {
  width: 150px !important;
}

.formControlCustom {
  width: 100% !important;
}

#profile_picture
{
    border-color: #5b5b5b;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.profileInfo {
	border-color: #5b5b5b;
	border-width: 1px;
  border-radius: 10px;
  display: block;
  height: 35px;
  margin: 3px;
  width: 275px;
  text-align: center;
}

#submitUpdateProfile {
  border-width: 1px;
  border-radius: 10px;
  display: block;
  height: 35px;
  margin: 3px;
  width: 275px;
  text-align: center;
}

.messageButton, .detailsButton {
     background:none!important;
     border:none;
     padding:0!important;
     cursor: pointer;
}

.input-group {
  width: 100%;
}

.input-group-Modal {
  padding: 5px;
}

.formControlCustom {
  text-align: center;
}

.modal-footer {
  height: 40px;
}

.modalInput {
  text-align: center;
}
.tableTitle {
  padding-bottom: 5px;
}

.wrapper {
  margin: 0 auto;
}

table {
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  height: 200px !important;
  overflow-y: scroll;
}

.rowTable {
  background: #f6f6f6;
  width: 100%;
}

.rowTable:nth-of-type(odd) {
  background: #e9e9e9;
}

.rowTable.header {
  font-weight: 900;
  color: #ffffff;
  background: #2980b9;
}

.rowTable.green {
  background: #27ae60;
}

.rowTable.red
{
	background: #ea6153;

}

.cell {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}


/*form
{
    width: 100%;
}

#navBar
{
  background-color: #0f0f0f;
  box-shadow: 0 2px 8px 0;
  height: 30px;
  margin: 0;
  padding: 10px;
}

#navBar *
{
  display: inline;
  text-decoration: none;
}

#navbarLogo
{
  height: 100%;
}

li.leftNav
{
  color: #FAFAFA;
  font-family: PT-Sans, Arial, sans-serif;
  font-size: large;
  padding: 9px;
  position: relative;
  bottom: 3px;
}

li.leftNav:hover
{
  background-color: #5b5b5b;
}

li.leftNav > a
{
  color: #FAFAFA;
}

.loginField
{
    height: 20px;
}

#loginContainer
{
  float: right;
  padding-right: 2px;
}

#loginForm
{
  float: left;
}

#submitButton
{
    background-color: #ffa500;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 2px 8px 0 black;
    color: #FAFAFA;
    font-family: Helvetica;
    font-size: medium;
    height: 30px;
    width: 75px;
}

#logOut
{
    display: none;
    float: left;
}

#content_area
{
    height: 1800px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    position: relative;
    width: 800px;
}

#current_bounties
{
    border: none;
    box-shadow: 0 2px 8px 0 inset;
    display: block;
    height: 400px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 800px;
}

.bounty
{
    background-color: #A7A7A7;
    border-color: white;
    border-style: solid;
    color: #FAFAFA;
    margin-top: 2px;
    margin-left: 2px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    width: 98.5%;
}

.bounty > p
{
    margin-top: 8px;
    vertical-align: middle;
}

#picture_upload
{
    position: absolute;
    left: 0;
    height: 300px;
    margin-left: 75px;
    top: 500px;
    width: 300px;
}

#picture_upload > input
{
    color: #FAFAFA;
}

#profile_info
{
    margin-right: 75px;
    position: absolute;
    top: 500px;
    right: 0;
}

#profile_info > input
{
    border-radius: 10px;
    display: block;
    height: 35px;
    margin-top: 5px;
    width: 275px;
}

#bio_area
{
    display: block;
    height: 200px;
    position: absolute;
    top: 720px;
    width: 800px;
}

#bio_area > textarea,input
{
    display: block;
    margin-left: auto;
    margin-top: 3px;
    margin-right: auto;
}

#save_button
{
    background-color: #ffa500;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 black;
    color: #FAFAFA;
    font-family: Helvetica;
    font-size: medium;
    height: 25px;
    margin-top: 5px;
    width: 100px;
}

#payments_header
{
    position: absolute;
    top: 900px
}

#past_payments
{
    box-shadow: 0 2px 8px 0 inset;
    position: absolute;
    top: 950px;
    height: 400px;
    width: 800px;
}*/
