h3 {
  display:inline;
}

textarea {
  display: block;
  width: 100%;
}

.profileInfo {
	border-color: #5b5b5b;
	border-width: 1px;
  border-radius: 10px;
  display: block;
  height: 35px;
  margin: 3px;
  width: 275px;
  text-align: center;
}

#submitUpdateProfile {
  border-width: 1px;
  border-radius: 10px;
  display: block;
  height: 35px;
  margin: 3px;
  width: 275px;
  text-align: center;
}

.messageButton, .detailsButton {
     background:none!important;
     border:none;
     padding:0!important;
     cursor: pointer;
}

.tableTitle {
  padding-bottom: 5px;
}

.tableWrapper {
    max-height: 250px !important;
}

table {
  width: 100%;
}

.profileUpdateForm {
  margin-bottom: 15px;
}

.rowTable.header {
  background: #59ABE3;
}
