.stepRow {
  padding-top: 10px;
}
#stepDisplay {
  padding: 2px;
/*  display: inline-block;*/
  border-style: inset;
  width: 710px;
  margin: 0 auto;
}

.stepBlock {
  display: inline-block;
  text-align: center;
  border-color: black;
  width: 225px;
}

.headerStep, .descStep {
  display: inline;
  padding: 2px;
}

.activeStepHunter {
  border-style: inset;
  background-color: #E74C3C;
}

.activeStepMarshal {
  border-style: inset;
  background-color: #59ABE3;
}

#countriesDropwDown {

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading {
  text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  height: auto;
/*  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#submitSignUp {
  margin: 6px;
}
