h3 {
  display:inline;
}

textarea {
  display: block;
  width: 100%;
}

/*.picRow {
    margin-top: 10px;
}*/

.addOnCustom {
  width: 150px !important;
}

.formControlCustom {
  width: 100% !important;
}

#bountyButtons {
  margin: 10px !important;
}

.input-group {
  width: 100%;
}

.formControlCustom {
  text-align: center;
}

table {
  width: 100%;
}

.tableWrapper {
  max-height: 445px !important;
}

.rowTable.header {
  background: #ea6153;
}

#bountyButtons > .btn {
  width: 120px !important;
}

.saveButton {
    width: 70px;
}

.payInput {
  width: 170px;
  margin: 0 auto;
}

.payAmountForm {
  text-align: center;
}